* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}
:root {
  --dropdown: background-color: rgb(43, 41, 38);;
  --a: rgb(138, 138, 138);
}
body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
.pagebutton a {
  color: white;
}
.pagebutton a:hover {
  color: rgb(156, 156, 156);
}
p {
  line-height: 1.5;
  font-size: 2.6ex;
}
ol {
  list-style-position: inside;
}
hr.intro-page {
  margin-top: 5%;
  width: 55%;
  height: 2px;
  background-color: rgb(0, 8, 7);
}
.under {
  justify-content: center;
  width: 70%;
  margin: auto;
}
.navbar-option a {
  color: white;
}
/* div p {
  margin: 0% 20%; Remove for now check if mess with anything later
} */
h1 {
  letter-spacing: 0.1ex;
  text-transform: uppercase;
  font-size: 7ex;
  padding: 20px 0px 20px 20px;
  margin-bottom: 5%;
  background-color: rgb(216, 212, 212);
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--a);
  /* border-bottom: 3px solid black; */
  text-decoration: none;
}
.logo {
  margin: 0;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 3ex;
}
.items {
  margin: 0;
  height: 100%;
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  /* width: 30%; */
}
.items li {
  position: relative;
  text-transform: uppercase;
  padding: 20px 30px 20px 30px;
  display: inline-block;
  text-align: center;
  height: 100%;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.item li a {
  color: white;
}
.navbar-option a {
  color: white;
}

#fixed-nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  background-color: rgb(43, 41, 38);
  justify-content: space-around;
  box-shadow: 0px 1px 8px 1px rgb(43, 41, 38);
}
#fixed-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(43, 41, 38);
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
#fixed-nav .navbar-option:hover {
  background-color: rgb(91, 91, 91);
  color: white;
}
#fixed-nav .navbar-option:hover .dropdown-content.content-translate {
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translate(-21.5%);
  margin-top: 20px;
}
#fixed-nav .navbar-option:hover .dropdown-content.assessment-translate {
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translate(-18%);
  margin-top: 20px;
}
#fixed-nav .dropdown-content a:hover {
  background-color: rgb(91, 91, 91);
}
.items ul {
  display: flex;
}

.t {
  background-color: red;
  height: 400px;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 1fr;
  overflow-x: hidden;
  grid-template-areas:
    "nav-top"
    "content-block";
}

.top-nav {
  grid-area: nav-top;
}
.block {
  grid-area: content-block;
  width: 100%;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-areas: "sidebar content-section";
  overflow: auto;
  overflow-x: hidden;
}

.arrow-container {
  grid-area: sidebar;
}
.content-section {
  grid-area: content-section;
  margin: 64px 10% 24px 10%;
  padding-top: 30px;
}

.block .arrow-container {
  padding-top: 65px;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 170px;
  z-index: 2;
  overflow: auto;
  background-color: rgb(36, 35, 33);
}
.block .arrow-container .chapter-content {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin: 0;
  margin-bottom: 100px;
}

.block .arrow-container {
  position: fixed;
  width: 180px;
  min-height: 40vh;
  padding-bottom: 0;
  height: 100vh;
}

.block .arrow-container .chapter-content .page-num {
  margin-bottom: 8%;
}
.text-container {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer-container {
  background-color: rgb(207, 207, 207);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  height: 30px;
  font-size: 1.5ex;
}
.footer-container.normal {
  margin-top: 40px;
  background-color: rgb(207, 207, 207);
  padding-top: 15px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: rgb(0, 0, 0);
  height: 30px;
  margin: 0;
  font-size: 1.5ex;
}
.footer-container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.learn-wrapper {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-btn {
  position: relative;
  color: rgb(43, 41, 38);
  background: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px 35px 20px 35px;
  width: 180px;
}

.learn-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 41, 38);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 700ms ease-in;
  z-index: -1;
}
.learn-btn:hover:before,
.learn-btn:focus:before {
  transform: scaleX(1);
}
.learn-btn:hover,
.learn-btn:focus {
  transition: 800ms;
  color: white;
}
.para {
  display: inline-block;
  text-align: left;
  justify-content: left;
  width: 100%;
}
.canvas-wrapper {
  padding: 2% 5% 2% 5%;
  margin: 10px 0 10px 0;
  background-color: rgb(87, 87, 87);
}
.canvas-wrapper p {
  color: white;
}
.canvascontainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgb(214, 214, 214);
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-button {
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: inline-flex;
  height: 5ch;
  width: 10ch;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: rgb(34, 34, 34);
  box-shadow: 0px 1px 2px 1px rgb(43, 41, 38);
}

.content-button:hover {
  color: rgb(39, 39, 39);
  background-color: rgb(228, 228, 228);
  box-shadow: 0px 2px 9px 2px rgb(43, 41, 38);
  transition: all 0.4s ease 0.01s;
}
.content-button.smaller {
  height: 3ch;
  margin: 0 2px 0 2px;
}

.button-container {
  padding-bottom: 2%;
  height: 10ch;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.content-note {
  background-color: rgb(255, 255, 255);
  height: 5ch;
  width: 15ch;
  text-transform: uppercase;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgb(148, 148, 148); /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgb(255, 255, 255) 1%,
    rgb(221, 221, 221) 20%,
    rgb(221, 221, 221) 80%,
    rgb(255, 255, 255) 100%
  ); /* FF3.6+ */
  background: -webkit-linear-gradient(
    left,
    rgb(255, 255, 255) 1%,
    rgb(221, 221, 221) 20%,
    rgb(221, 221, 221) 80%,
    rgb(255, 255, 255) 100%
  ); /* Chrome10+,Safari5.1+ */
}

.all-wrapper.homepage {
  display: flex;
  flex-direction: column;
  /* padding-top: 20px; */
}
.all-wrapper.homepage li {
  list-style-type: none;
  text-align: center;
}
.all-wrapper.homepage h1 {
  text-align: center;
  margin-top: 20px;
}
.all-wrapper.homepage h2 {
  margin-bottom: 10px;
  font-size: 5ex;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.all-wrapper.homepage .homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.warning {
  color: red;
}

.piano-wrapper {
  background-color: rgb(87, 87, 87);
  color: white;
  padding: 2%;
}
.pianocontainer {
  background-color: rgb(214, 214, 214);
  padding: 15px 0 0 0;
}

.list-stff {
  list-style-type: ">  ";
  background-color: rgb(216, 219, 226);
  padding: 10px 10px 10px 20px;
  line-height: 1.5;
  font-size: 2.6ex;
}
.content-section #intro .summary {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content-button.note {
  margin-top: 40px;
}
#content .stave-section {
  background-color: rgb(216, 219, 226);
  grid-area: stave-section;
}
#intro {
  grid-area: quiz-homepage;
}
.content-section.quiz {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "quiz-homepage";
}
.content-section.quiz #content {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header"
    "timer"
    "score"
    "stave"
    "btn";
}
.header-section {
  grid-area: header;
}
.timer-section {
  grid-area: timer;
}
.timer-section .bar {
  height: 5px;
  background-color: rgb(81, 203, 32);
  color: white;
  animation: change 31s linear;
}

#timer {
  font-size: 5ex;
}
.score-section {
  grid-area: score;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(134, 134, 134);
  width: 200px;
  height: 30px;
  padding: 20px;
  margin: 20px 0 20px 0;
  color: white;
}
#score {
  margin-left: 3px;
}
.stave-section {
  grid-area: stave;
  padding-bottom: 10px;
}
.stave-section p {
  padding-top: 5px;
  margin: 0;
  color: rgb(0, 0, 0);
}
.btn-section {
  grid-area: btn;
  display: grid;
  height: 25vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 7px;
  margin-top: 5px;
}
.content-button.large {
  width: 100%;
  height: 100%;
  font-size: 5ex;
  box-shadow: none;
  padding: 5px;
}

.bar {
  width: 0;
}
@keyframes change {
  0% {
    width: 100%;
  }
  60% {
    width: 30%;
    background-color: red;
  }
  100% {
    width: 0%;
    background-color: red;
  }
}

.review-hr hr {
  width: 70%;
  margin: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notedemo {
  display: flex;
  padding-top: 15px;
  justify-content: space-evenly;
}
.notedemo button {
  border: none;
}
.revision-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}

.revision {
  width: 100%;
  height: auto;
  background-color: rgb(165, 165, 165);
  padding: 5px;
}
.revision:hover {
  background-color: rgb(223, 221, 221);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.revision a {
  color: black;
  text-decoration: none;
}
.revision:first-child {
  margin-right: 5px;
}

.empty {
  height: 40px;
  text-align: center;
}
.pagebutton {
  display: grid;
  width: 100%;
  padding-bottom: 20px;
  grid-template-columns: 1fr 1fr;
}
.footer-positioner {
  position: absolute;
}

.pagebutton #previous {
  width: 180px;
  height: 40px;
  transform: translate(-150px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  justify-self: flex-start;
  margin-bottom: 30px;

  transition: transform 300ms ease-out;
}

.pagebutton #next {
  width: 180px;
  height: 40px;
  transform: translate(150px);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  background-color: black;
  color: white;
  justify-self: flex-end;
  margin-bottom: 20px;
  transition: transform 300ms ease-out;
}
.pagebutton #previous:hover {
  transform: translate(0px);
}
.pagebutton #next:hover {
  transform: translate(0px);
}

.test-self {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-position {
  padding-top: 80px;
}

.response {
  width: 100%;
  height: 90px;
  padding: 7px;
}
.canvascontainer.assessment {
  display: block;
  padding-bottom: 20px;
  text-align: left;
}

.content-section.assessment-change {
  padding-top: 0;
}
.content-section.assessment-change .list-stff {
  background-color: rgb(214, 214, 214);
}


form#loginform,
form#registerform {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10% 8% 10%;
}

#loginform h1,
#registerform h1 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
  width: 50%;
}


input[type="text"],
input[type="password"] {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  transition: transform 200ms linear;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="text"]:hover,
input[type="password"]:hover {
  transform: scaleX(1.1);
  border-color: brown;
  font-size: larger;
}

#loginform .sub-title,
#registerform .sub-title {
  font-size: 4ex;
}

input[type="submit"] {
  width: 150px;
}
input[type="submit"] {
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: inline-flex;
  height: 5ch;
  width: 10ch;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: rgb(34, 34, 34);
  border: none;
  transition: all 0.4s ease 0.01s;
}

input[type="submit"]:hover {
  color: rgb(39, 39, 39);
  background-color: rgb(228, 228, 228);
}
.register-container {
  margin-top: 20px;
}
.register-container a {
  color: blue;
}
.register-container a:hover {
  color: rgb(58, 58, 199);
}

form#registerform {
  text-align: center;
}

.correct {
  padding: 10px;
  background-color: lightgreen;
}
.wrong {
  padding: 10px;
  background-color: rgb(255, 0, 0);
}
.response-area {
  padding: 5px;
  background-color: white;
}

.usercontent .redhover {
  color: black;
  text-transform: capitalize;
}
.usercontent .redhover:hover {
  color: rgb(255, 0, 0);
  background: none;
}
ul.items.min-nav {
  padding-top: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  display: none;
}

.items.min-nav .navbar-option span{
  padding: 10px;
}
.navbar-option a{
  padding: 10px;
}
.items.min-nav #assessment-inside .dropdown-content, .navbar-option.content-option .dropdown-content {
  display: none;
}
.items.min-nav .navbar-option a:hover{
  background-color: var(--a);
}

.items.min-nav #assessment-inside:hover .dropdown-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
}
.items.min-nav .content-option:hover .dropdown-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
}
#fixed-nav .hamburger{
  width: 40px;
  cursor: pointer;
  display: none;
}
#fixed-nav .hamburger .stack{
  height: 3px;
  width: 100%;
  background-color: white;
  z-index: 3;
  margin-bottom: 8px;
}
#fixed-nav .hamburger.active #line-2 {
  display: none;
  transition: transform 1s ease;

}
#fixed-nav .hamburger.active #line-1 {
  transform: rotate(45deg) translate(10px,2px);
}

#fixed-nav .hamburger.active #line-3 {
  position: relative;
  transform: rotate(-45deg) translate(4.5px,3px);
}
#fixed-nav .hamburger  .stack{
  transition: transform 1s ease;
}

