.rank-upper {
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  grid-area: overlap;
}

.rank-upper:hover {
  opacity: 0;
  transition: all 0.4s ease 0.01s;
}

.rank-under {
  text-align: center;
  background-color: rgb(224, 224, 224);
  height: 100%;
  width: 100%;
  z-index: 1;
  grid-area: overlap;
  text-align: center;
}

.rank-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}

.all-wrapper {
  position: relative;
  border-right: solid 1px black;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 65px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 70px 200px 315px 80px 50px;
  grid-template-areas:
    "title title"
    "user ranking"
    "user subs"
    "user page"
    "user page";
}
.filler {
  border-right: 1px solid black;
  border-left: 1px solid black;
  grid-area: profile-footer;
}

.highlight {
  font-size: 2em;
  font-family: "Zilla Slab", serif;
}

.rank-wrapper {
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  height: 200px;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  grid-area: ranking;
}

.black {
  background-color: rgb(41, 40, 40);
  color: white;
}

.white {
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 1px;
}

.gray {
  color: black;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
}

.user-profile {
  border-top: 1px solid black;
  padding-left: 7%;
  text-align: left;
  display: block;
  padding-top: 2%;
  grid-area: user;
  border-left: solid;
  border-width: 1px;
}

.header {
  height: auto;
  grid-area: title;
}
.header h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 100%;
  background-color: rgb(216, 212, 212);
}
.submissions {
  margin-top: 20px;
  overflow-y: auto;
  text-align: center;
  grid-area: subs;
  border-right: solid black 1px;
  border-left: solid black 1px;
  border-top: solid black 1px;
}

.submissions table tr:nth-child(1n + 2):nth-child(odd) {
  background-color: rgb(211, 211, 211);
  color: rgb(43, 43, 43);
}

.first {
  background-color: rgb(22, 22, 29);
  color: white;
}
.submissions table {
  width: 100%;
  height: auto;
}

.links {
  display: flex;
  justify-content: space-between;
  grid-area: page;
  border-right: solid black 1px;
  border-left: solid black 1px;
  background-color: rgb(185, 185, 185);
}
.links-right {
  display: flex;
  justify-content: flex-end;
  grid-area: page;
}

table a {
  color: black;
}

.rank-under table {
  width: 100%;
}

.rank-under table tr:nth-child(1n + 2):nth-child(even) {
  background-color: rgb(236, 236, 236);
}

.user-image {
  max-width: 80%;
  max-height: 80%;
}

.submission-upper {
  padding-top: 60px;
  border-right: 2px rgb(0, 0, 0);
  display: inline-block;
  text-align: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.submission-upper:nth-child(odd) {
  border-style: solid;
  border-right: 2px rgb(211, 211, 211);
}

.collopse {
  height: 100%;
  background-color: rgb(43, 41, 38);
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  overflow: auto;
}

.user-info {
  height: 100%;
  text-align: left;
  display: block;
  grid-area: user;
  border-left: solid;
  border-width: 1px;
}

.userheader {
  cursor: pointer;
  padding-left: 4%;
  font-size: 20px;
  background-color: rgb(78, 78, 78);
  user-select: none;
}

.userheader:hover {
  background-color: rgb(95, 95, 95);
}

.usercontent {
  cursor: pointer;
  padding-left: 4%;
  max-height: 0;
  overflow: hidden;
  color: black;
  background-color: #e4e4e4;
  transition: all 0.2s ease-out;
}

.usercontent a {
  color: black;
  width: 100%;
}

.usercontent a:hover {
  width: 100%;
  color: white;
  background-color: rgb(95, 95, 95);
}
.links .content-button {
  margin: 5px;
}

.collopse.side {
  height: 90vh;
}

.collopse.side .userheader {
  background-color: rgb(29, 29, 29);
}

.collopse.side .usercontent {
  background-color: rgb(179, 179, 179);
  color: black;
}

.para table{
  background-color: rgb(172, 172, 172);
  border-collapse: collapse;
  table-layout: fixed ;
  width: 100%;
  height: 100%;
}
.para table, th, td {
  padding: 2px;
  border: 1px solid rgb(36, 36, 36);
}

.para table th{
  background-color: rgb(214, 214, 214);
}
.para table td{
  background-color: rgb(185, 185, 185);
  cursor: pointer;
}
.para table td:hover{
  background-color: rgb(24, 24, 24);
  color: white;
  cursor: pointer;
  transform: scale(1.02);
  transition: all .2s ease-in-out;
  box-shadow: 1px 0px 1px 0px rgb(43, 41, 38);
}

.content-note.center{
  display: flex;
  justify-self: center;
}

.center{
  width: 100%;
}