{%extends "base.html"%}

{% block content %}

<div class="block">
    <div id="arrow" class="arrow-container box">
        <div class="chapter-content" >
            <div class="user-info">
                <div>
                    <ul class="items min-nav">
                        {% if not current_user.is_authenticated %}
                        <li class="navbar-option">
                            <a class="home" href="{{url_for('index.index')}}">Home</a>
                        </li>
                        <li class="navbar-option">
                            <a id="login" href="{{url_for('auth.login')}}">Login</a>
                         </li>
                        {% endif %}
                        {% if current_user.is_authenticated and not current_user.isAdmin %}
                            <li class="navbar-option home">
                                <a href="{{url_for('index.index')}}">Home</a>
                            </li>
                            <li class="navbar-option content-option">
                                <span class="home">content</span>
                                <div class="dropdown-content content-translate">
                                    <a href="{{url_for('index.notes', chapter='chapter1', page='page1')}}">Notation</a>
                                    <a href="{{url_for('index.notes', chapter='chapter2', page='page1')}}">Rhythm</a> 
                                    <a href="{{url_for('index.notes', chapter='chapter3', page='page1')}}">Key</a>
                                </div>
                            </li>
                            <li id="assessment-inside" class="navbar-option">
                                <span>Assessment</span>
                                <div class="dropdown-content assessment-translate">
                                    <a href="{{url_for('assessment.testSubmission', difficulty='intro')}}">Intro</a>
                                    <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">intermediate</a>
                                    <a href="{{url_for('assessment.testSubmission', difficulty='difficult')}}">Difficult</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if current_user.is_authenticated%}
                        <li class="navbar-option" >
                            <a  class="home" href="{{url_for('index.profile', userId=current_user.id)}}">Profile</a>
                        </li>
                        <li class="navbar-option">
                            <a href="{{url_for('index.logout')}}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="collopse side">
                        <div class="userheader">
                            Notation<br>
                        </div>
                        <div class="usercontent">
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter1', page='page1')}}">What is Notation</a></div> 
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter1', page='page2')}}">Clefs</a></div>
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter1', page='page3')}}">Note Representation</a></div> 
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter1', page='page4')}}">More on Representation</a></div>
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter1', page='page5')}}">Accidentals</a></div>
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter1', page='page6')}}">Test your self</a></div>
                        </div>
                        <div class="userheader">
                            Rhythm<br>
                        </div>
                        <div class="usercontent">
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter2', page='page1')}}">Rhythm</a></div> 
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter2', page='page2')}}">Time signature</a></div>
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter2', page='page3')}}">Note value</a></div> 
                        </div>
                        <div class="userheader">
                            Key<br>
                        </div>
                        <div class="usercontent">
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter3', page='page1')}}">Key</a></div> 
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter3', page='page2')}}">What is key</a></div>
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter3', page='page3')}}">Key signatures</a></div> 
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter3', page='page4')}}">Recognize key</a></div> 
                            <div class="page-num"><a href="{{url_for('index.notes', chapter='chapter3', page='page5')}}">Test your self</a></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Content
    <div class="fadein" style="display: none;">
        {% block page %}{% endblock %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".fadein").fadeIn(500);
        var users = document.getElementsByClassName("userheader");
        var i;
        for (i = 0; i < users.length; i++) {

            users[i].addEventListener("click", function() {
                var usercontent = this.nextElementSibling;
                if (usercontent.style.maxHeight){
                usercontent.style.maxHeight = null;
                } else {
                usercontent.style.maxHeight = usercontent.scrollHeight + "px";
                }
            });
        }
    });
</script>
{% include "imports/importnote.html" %}
{% endblock %}
