
{%extends "base.html"%}
{% block content %}
<div class="all-wrapper homepage">
    <h1 id="indexheader">
    </h1>
    <div class="homepage-content">
        <form id="registerform" method="post">
            <h1 id="headtitle">Enter asset detail</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}
                <br>
                {{ form.name(size=32,id="name") }}
                <br>
                {% for error in form.name.errors %}
                    <span class="warning" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.endofservice.label }}
                <br>
                {{ form.endofservice(size=32,id="endofservice") }}
                <br>
                {% for error in form.endofservice.errors %}
                    <span class="warning" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.budget.label }}
                <br>
                {{ form.budget(size=32,id="budget") }}
                <br>
                {% for error in form.budget.errors %}
                    <span class="warning" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.Carbon_p_y.label }}
                <br>
                {{ form.Carbon_p_y(size=32)}}
                {% for error in form.Carbon_p_y.errors %}
                <br>
                <span class="warning" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(id="submit") }}</p>
        </form>
    </div>
</div>
{% endblock %}
