{%extends "base.html"%}

{% block content %}

<div class="all-wrapper homepage">
    <h1 id="indexheader">
        SideNote
    </h1>
    <div class="homepage-content">
        <h2>
            {% if not use==None %}
            Welcome back {{use}}!
            {% endif %}
        </h2>
        <h3>
            Your first step in music theory
        </h3>
        <p>
            <strong>You will learn about</strong>
        </p>
        <ul>
            <li>Basic knowledge of music theory</li>
            <li>Music Notation</li>
            <li>Rhythm</li>
            <li>Keys and scales</li>
        </ul>
        <br>
        {% if not current_user.is_authenticated %}
            <p><a class="learn-btn" href="{{ url_for('register.register') }}">Register</a></p>
        {% endif %}
    </div>
</div>
<div class="footer-container normal">
    <p> &#169; Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</p>
</div>
{% endblock %}

