<nav id="fixed-nav" class="top-nav">
    <h3 class="logo">Sidenote</h3>
    <ul class="items">
        {% if not current_user.is_authenticated %}
        <li class="navbar-option">
            <a href="{{url_for('index.index')}}">Home</a>
        </li>
        <li class="navbar-option">
            <a id="login" href="{{url_for('auth.login')}}">Login</a>
         </li>
        {% endif %}
        {% if current_user.is_authenticated and not current_user.isAdmin %}
            <li class="navbar-option">
                <a href="{{url_for('index.index')}}">Home</a>
            </li>
            <li class="navbar-option">
                content
                <div class="dropdown-content content-translate">
                    <a href="{{url_for('index.notes', chapter='chapter1', page='page1')}}">Notation</a>
                    <a href="{{url_for('index.notes', chapter='chapter2', page='page1')}}">Rhythm</a> 
                    <a href="{{url_for('index.notes', chapter='chapter3', page='page1')}}">Key</a>
                </div>
            </li>
            <li id="assessment" class="navbar-option">
                Assessment
                <div class="dropdown-content assessment-translate">
                    <a href="{{url_for('assessment.testSubmission', difficulty='intro')}}">Intro</a>
                    <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">intermediate</a>
                    <a href="{{url_for('assessment.testSubmission', difficulty='difficult')}}">Difficult</a>
                </div>
            </li>
        {% endif %}
        {% if current_user.is_authenticated%}
        <li class="navbar-option">
            <a href="{{url_for('index.profile', userId=current_user.id)}}">Profile</a>
        </li>
        <li class="navbar-option">
            <a href="{{url_for('index.logout')}}">Logout</a>
        </li>
        
        {% endif %}
    </ul>
    <div class="hamburger">
        <div id="line-1" class="stack"></div>
        <div id="line-2" class="stack"></div>
        <div id="line-3" class="stack"></div>
    </div>
</nav>
<script>
$('.hamburger').on('click', function(){
    $(this).toggleClass('active');
});
$('.hamburger').on('click', function(){
    $(".arrow-container").toggleClass('active');
});
$('top-nav').on('click', function(){
    $(".hamburger").removeClass('active');
});
</script>