{% extends "base.html" %}
{% block content %}
    <form id="registerform" method="post" onsubmit="registerValidate();" novalidate>
        <h1 id="headtitle">Register</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32,id="username",placeholder="  Username") }}
            <br>
            {% if userExist %}
                <span class="warning">{{userExist}}</span>
            {% endif %}
            {% for error in form.username.errors %}
                <span class="warning" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32,id="password",placeholder="  Password") }}
        </p>
        <p>
            {{ form.confirmpassword.label }}
            <br>
            {{ form.confirmpassword(size=32,id="confirmpassword",placeholder="  Password") }}
            {% for error in form.confirmpassword.errors %}
            <br>
            <span class="warning" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.firstname.label }}
            <br>
            {{ form.firstname(size=32,id="firstname",placeholder="  Firstname") }}
            {% for error in form.firstname.errors %}
            <br>
            <span class="warning" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}
            <br>
            {{ form.lastname(size=32,id="lastname",placeholder="  Lastname") }}
            {% for error in form.lastname.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            <br>
            {{ form.email(size=32,id="email",placeholder="  example@user.com") }}
            {% for error in form.email.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p>{{ form.submit(id="submit") }}</p>
    </form>
    <div class="footer-container normal">
        <p> &#169; Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</p>
    </div>
    <script src="/static/js/validate.js"></script>
{% endblock %}